<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>foundations</th>
        <th>owner</th>
        <th>stadium</th>
        <th>actions</th>
    
    </tr>
    <tr *ngFor="let p of teams">
        <th>{{p.id}}</th>
        <td>{{p.name}}</td>
        <td>{{p.foundation}}</td>
        <td>{{p.owner}}</td>
        <td>{{p.stadium}}</td>
        <td>
            <button type="button" class="btn btn-info">Display</button>
            <button type="button" class="btn btn-warnig">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
    
    
    </tr>
    
    
    </table>