<app-banner title="signup"></app-banner>

<!-- reactiveForm -->

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form [formGroup]="signupForm">

          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="FN" formControlName="firstName">
          </div>


          <div
            *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched )">
            <div *ngIf="signupForm.controls['firstName'].errors.required" style="color : red">
              firstName is required
            </div>
            <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color : red">
              First name must have at least 5 caracters

            </div>
          </div>





          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="LN" formControlName="lastName">
          </div>

          <div
            *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty || signupForm.controls['lastName'].touched )">
            <div *ngIf="signupForm.controls['lastName'].errors.required" style="color : red">
              lastName is required
            </div>
            <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color : red">
              lastName must have at least 4 caracters

            </div>
          </div>




          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" name="email" formControlName="email">
          </div>

          <div
            *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched )">
            <div *ngIf="signupForm.controls['email'].errors.required" style="color : red">
              email is required
            </div>
            <div *ngIf="signupForm.controls['email'].errors.email" style="color : red">
              email format

            </div>
          </div>





          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" name="pwd" formControlName="pwd">
          </div>

          <div
            *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].dirty || signupForm.controls['pwd'].touched )">
            <div *ngIf="signupForm.controls['pwd'].errors.required" style="color : red">
              password is required
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.minlength" style="color : red">
              password must have at least 6 caracters

            </div>


            <div *ngIf="signupForm.controls['pwd'].errors.maxlength" style="color : red">
              password must have at most 12 caracters

            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.pattern" style="color : red">
              password pattern

            </div>
          </div>





          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm password" name="confirmPwd"
              formControlName="confirmPwd">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary py-3 px-5" [disabled]="signupForm.invalid" (click)="signup()" value="Signup">
          </div>
        </form>
      </div>
      <div class="col-lg-4 ml-auto">

        <ul class="list-unstyled">
          <li class="mb-2">
            <strong class="text-white d-block">Address</strong>
            273 South Riverview Rd. <br> New York, NY 10011
          </li>
          <li class="mb-2">
            <strong class="text-white d-block">Email</strong>
            <a href="#">info@unslate.co</a>
          </li>
          <li class="mb-2">
            <strong class="text-white d-block">
              Phone
            </strong>
            <a href="#">+12 345 6789 012</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>